# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Venv / IDE
.venv/
venv/
.env/
.idea/
.vscode/

# Build artifacts
build/
dist/
*.egg-info/

# Тяжёлые/внешние файлы (храни вне git или через LFS)
*.pdf
*.zip
*.tar.gz
*.7z
*.csv
*.xlsx
*.docx
*.bin
*.pt
*.gguf
*.onnx
*.mp4
*.mov
